
.main-bot-left {/*主体下半的左边形式*/
    width: 18.5%;
    float: left;
}

.main-bot-right {/*主体下半的右边形式*/
    width: 74.3333%
        /*892/1200*/
    ;
    float: right;
}

.main-bot-right>p {/*右边段落的格式 后边距 80px*/
    margin-bottom: 80px;
}



.xm{
    float:left;
}
.tupian{
    float:right;
    width:56.8820%;
    margin-top: 0;
    margin-bottom: 5rem;
}


main {/*主体部分 的背景色*/
    background-color: rgb(254, 254, 254);
}

@media screen and (max-width:1024px){
    
}


@media screen and (max-width: 500px) {

    /* .mainnav nav {width: 20.8333%;} */
    html {
        font-size: 5px;
    }

    p {
        font-size: 3rem;
    }

    main {
        width: 100%;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    .mainnav {
        padding: 0;
        margin-top: 0;
        margin-bottom: 5rem;
    }

    .mainnav nav,
    .topnav {
        display: none;
    }

    .mainmenu {
        display: inline-block;
        padding: 30px;
        background-color: #000;
        color: #fff;
    }

    .logo {
        margin-top: 25px;
    }


    .main-bot-right .picbox {
        width: 100%;
    }

    .main-bot-right {
        width: 100%;
    }

    .news-menu {/*列表样式*/
        width: 100%;
        height: 16rem;
    }

    .news-menu ul {/*列表样式*/
        display: none;/*隐藏*/
    }



    .news-menu .share {/*分享*/
        margin-left: 9.5238%;
        margin-right: 33.3333%;
    }
    
    .news-menu .share,
    .news-menu .listprint {/*打印*/
        color: #666;
        font-weight: bold;
    }

    .news-nav li {
        padding: 1.6rem 1.2rem;
    }

    .content,
    .copyright,
    .sitemap {
        float: none;
        width: 100%;
        padding: 0;
    }

    .news-content img {
        width: 100%;
    }

    .news-nav {
        margin-bottom: 5rem;
        margin-top: 10rem;
    }

    /*两端对齐*/
    .txtbox {
        width: 100%;
        text-align: justify;
    }
/*footer 大致是一样的*/
    .footer-top,
    .footer-bot {
        padding: 0 10px;
    }

    .footer-top .inner ul {
        float: none;
        width: 100%;
        margin: 0;
        font-size: 3rem;
    }

    .footer-bot .sitemap {
        text-align: center;
    }

    .cotyright {
        margin: 1rem 0;
    }

    .inner {
        width: 100%;
    }

    .main-bot-left {
        width: 100%;
    }

}